In [1]:
# Importing Packages

import pandas as pd
import numpy as np

In [3]:
# Reading the India_Flood.csv data as flood_df
flood_df = pd.read_csv('India_Flood.csv')
flood_df.head()

,Year,Country,ISO,Disaster Type,Disaster Subtype,Location,Total Deaths,No. Injured,No. Homeless,Total Affected
0,2000,India,IND,Flood,Flash flood,"Arunachal_Pradesh,Assam,",20.0,NaN,3000000.0,3000000.0
1,2000,India,IND,Flood,Flash flood,"Arunachal_Pradesh,",130.0,NaN,NaN,NaN
2,2000,India,IND,Flood,Riverine flood,"Bihar,Himachal_Pradesh,West_Bengal,Uttarakhand...",867.0,NaN,22000000.0,22000000.0
3,2000,India,IND,Flood,Flash flood,"Andhra_Pradesh,",179.0,16.0,NaN,252016.0
4,2000,India,IND,Flood,Riverine flood,"West_Bengal,Jharkhand,Bihar,",884.0,NaN,24600000.0,24600000.0

In [5]:
# Changing the Column 'Location' in list format

location_list = flood_df['Location'].tolist()
len(location_list)

176

In [6]:
# Joining the elements of the location_list

join_location_list = ''.join(location_list)
len(join_location_list)

4782

In [7]:
# Find Unique Regions and their counts

from collections import Counter

# Split the string by commas to get a list of words
words_list = join_location_list.split(',')

# Count the occurrences of each unique word
word_counts = {}
for word in words_list:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

# Create a DataFrame from the result
flood_region = pd.DataFrame(list(word_counts.items()), columns=['StateName', 'Frequency'])

print(flood_region)

             StateName  Frequency
0    Arunachal_Pradesh         15
1                Assam         44
2    Arunachal_Pradesh          1
3                Bihar         27
4     Himachal_Pradesh         20
5          West_Bengal         27
6          Uttarakhand         16
7              Gujarat         26
8       Andhra_Pradesh         20
9       Madhya_Pradesh         17
10              Punjab         10
11       Uttar_Pradesh         36
12         Maharashtra         22
13           Rajasthan         16
14          Chandigarh          1
15              Kerala         18
16           Jharkhand          5
17             Tripura          7
18              Odisha         26
19        Chhattisgarh          6
20           New_Delhi          3
21           Meghalaya          6
22             Manipur          7
23         Maharashrta          1
24          Tamil_Nadu         16
25       Jammu_Kashmir         12
26             Haryana          8
27            Nagaland          4
28                 Goa          3
29           Karnataka         17
30          Puducherry          4
31              Ballia          1
32           Daman_Diu          1
33          Maharastra          1
34              Sikkim          2
35           Telangana          2
36          Uttarakand          1
37              Kerala          1
38              Odisha          1
39         Maharashtra          1
40           Hyderabad          1
41             Odisha           1

In [8]:
flood_region.to_csv('TestFloodArea.csv', index = False)